# Interview Question 

**15-04-2025**

# SQL

**1. Provide an example of each of the different types of joins (e.g., INNER JOIN, LEFT JOIN, RIGHT JOIN, FULL JOIN) in SQL.**

##### ðŸ”— **INNER JOIN**  
ðŸ‘‰ Only common data in A & B âœ…  
ðŸ§¾ Example: `A âˆ© B`


##### ðŸ”— **LEFT JOIN**  
ðŸ‘‰ All from A + matched from B ðŸ‘ˆ  
ðŸ§¾ Example: `A + (A âˆ© B)`


##### ðŸ”— **RIGHT JOIN**  
ðŸ‘‰ All from B + matched from A ðŸ‘‰  
ðŸ§¾ Example: `B + (A âˆ© B)`


##### ðŸ”— **FULL JOIN**  
ðŸ‘‰ All from A + All from B âœ…  
ðŸ§¾ Example: `A âˆª B`

**2. Explain the concept of a sub-query in SQL and how it is used.**

##### ðŸ” **Sub-query in SQL**

A **sub-query** is a query **inside another query** ðŸ§ 

Used to:
- Filter data ðŸŽ¯
- Compare values ðŸ”„
- Get results from another table ðŸ“‹

**3. What are the different SET operators available in SQL (e.g., UNION, INTERSECT, EXCEPT)?**

##### ðŸ”— **SQL SET Operators**

1. **UNION**  
ðŸ‘‰ Combines results from two queries, **removes duplicates**  
ðŸ§¾ `A âˆª B` âœ…  

2. **UNION ALL**  
ðŸ‘‰ Combines all results, **keeps duplicates**  
ðŸ§¾ `A + B (with duplicates)` ðŸ”  

3. **INTERSECT**  
ðŸ‘‰ Shows **common records** from both queries  
ðŸ§¾ `A âˆ© B` ðŸ¤  

4. **EXCEPT** (or **MINUS** in some DBs)  
ðŸ‘‰ Shows records in **A but not in B**  
ðŸ§¾ `A - B` âŒ

**4.	What are the types of views and give an example for each of them?**

##### 1ï¸âƒ£ **Simple View**  
ðŸ‘‰ Based on **single table**, no joins or groups

```sql
CREATE VIEW simple_view AS
SELECT id, name FROM Students;
```
ðŸ“„ *Basic info only*

##### 2ï¸âƒ£ **Complex View**  
ðŸ‘‰ Based on **multiple tables**, with joins, groups

```sql
CREATE VIEW complex_view AS
SELECT s.name, m.marks 
FROM Students s JOIN Marks m ON s.id = m.sid;
```
ðŸ”— *Join used*


##### 3ï¸âƒ£ **Inline View**  
ðŸ‘‰ A **subquery in FROM clause**

```sql
SELECT * FROM (
  SELECT id, marks FROM Marks WHERE marks > 50
) AS inline_result;
```
ðŸ“¦ *Used inside bigger query*


##### 4ï¸âƒ£ **Materialized View**  
ðŸ‘‰ Stores **physical data**, faster but needs refresh

```sql

CREATE MATERIALIZED VIEW mat_view AS
SELECT * FROM Orders;
```
âš¡ *Boost performance*

**5.	What are the four ranking functions commonly used in SQL (e.g., ROW_NUMBER, RANK, DENSE_RANK, NTILE)?**

##### 1ï¸âƒ£ **ROW_NUMBER()**
- **Purpose**: Assigns a unique **row number** for each row based on a specific order. No ties.

```sql
SELECT name, marks,
       ROW_NUMBER() OVER (ORDER BY marks DESC) AS rank
FROM Students;
```
ðŸ“ **Explanation**:  
- This query assigns a **unique rank** to each student based on their marks in **descending order**. No two students will share the same rank.



##### 2ï¸âƒ£ **RANK()**
- **Purpose**: Assigns ranks to rows, but if there are **ties**, it **skips ranks**.

```sql
SELECT name, marks,
       RANK() OVER (ORDER BY marks DESC) AS rank
FROM Students;
```
ðŸ“ **Explanation**:  
- If two students have the same marks, they will have the **same rank**, but the next student will skip the rank (e.g., two students ranked 1, the next will be 3).


##### 3ï¸âƒ£ **DENSE_RANK()**
- **Purpose**: Similar to `RANK()`, but **no gaps** in the ranks for ties.

```sql
SELECT name, marks,
       DENSE_RANK() OVER (ORDER BY marks DESC) AS rank
FROM Students;
```
ðŸ“ **Explanation**:  
- If two students have the same marks, they will get the same rank, but the next student will get the **next consecutive rank** (no gaps).



##### 4ï¸âƒ£ **NTILE(n)**
- **Purpose**: Divides the rows into **n equal groups**, assigning each row a group number.

```sql
SELECT name, marks,
       NTILE(4) OVER (ORDER BY marks DESC) AS quartile
FROM Students;
```
ðŸ“ **Explanation**:  
- This query divides the students into **4 groups (quartiles)** based on their marks in **descending order**. Each student will be assigned a number from 1 to 4, representing their group.

**6)	How to delete DUPLICATE records  from a table using ROWID and Correlated subquery?**

##### 1ï¸âƒ£ **Using ROWID:**

```sql
DELETE FROM students
WHERE ROWID NOT IN (
    SELECT MIN(ROWID)
    FROM students
    GROUP BY name, marks
);
```
- **Explanation**: Deletes duplicates by keeping the first occurrence (based on `MIN(ROWID)`).


##### 2ï¸âƒ£ **Using Correlated Subquery:**

```sql
DELETE FROM students s1
WHERE EXISTS (
    SELECT 1
    FROM students s2
    WHERE s1.name = s2.name
    AND s1.marks = s2.marks
    AND s1.ROWID > s2.ROWID
);
```
- **Explanation**: Deletes duplicates by comparing `ROWID`, keeping the first occurrence.

powerBI
<!-- 1)	Apart from standard charts and graphs, what other types of visuals can Power BI offer?
2)	How can Power BI allow you to design a unique visual that is not available out-of-the-box?
3)	Provide an example of implementing drill-through functionality in Power BI.
4)	How can you create a report-level filter in Power BI that applies to multiple pages or visualizations?
5)	Provide an example of how bookmarks can be used to create interactive and dynamic reports. -->