# Interview Questions 

**26-04-2025**

**1) Provide an example of each of the different types of joins (e.g., INNER JOIN, 
LEFT JOIN, RIGHT JOIN, FULL JOIN) in SQL.**

### ðŸ”¹ 1) INNER JOIN

Only matching rows (id in both)

```sql
SELECT s.name, m.score 
FROM Students s
INNER JOIN Marks m ON s.id = m.id;
```

**Result:** John - 85, Alice - 90

---

### ðŸ”¸ 2) LEFT JOIN

All from left + matching right

```sql
SELECT s.name, m.score 
FROM Students s
LEFT JOIN Marks m ON s.id = m.id;
```

**Result:** John - 85, Alice - 90, Bob - NULL

---

### ðŸ”¸ 3) RIGHT JOIN

All from right + matching left

```sql
SELECT s.name, m.score 
FROM Students s
RIGHT JOIN Marks m ON s.id = m.id;
```

**Result:** John - 85, Alice - 90, NULL - 75

---

### ðŸ”¸ 4) FULL JOIN

All from both sides, match if possible

```sql
SELECT s.name, m.score 
FROM Students s
FULL JOIN Marks m ON s.id = m.id;
```

**Result:** John - 85, Alice - 90, Bob - NULL, NULL - 75

**2.  Explain the concept of a sub-query in SQL and how it is used**
### ðŸ§  What is a Sub-query?

A **sub-query** is a query **inside another query** ðŸ”
Used to get data that helps the main query.

---

### âœ¨ Use:

* In `SELECT`, `WHERE`, or `FROM` clauses
* Helps filter or calculate based on another result

---

### ðŸ“Œ Example:

Find students **with score > average score** ðŸŽ¯

```sql
SELECT name 
FROM Students 
WHERE score > (
  SELECT AVG(score) FROM Students
);
```

ðŸ‘‰ `SELECT AVG(score)...` is the **sub-query**
ðŸ‘‰ Outer query uses it to filter results

---

**3. What are the different SET operators available in SQL (e.g., UNION, 
INTERSECT, EXCEPT)?**  

### ðŸ”¹ 1. **UNION**

* Combines results, **removes duplicates**

```sql
SELECT name FROM table1  
UNION  
SELECT name FROM table2;
```

---

### ðŸ”¹ 2. **UNION ALL**

* Combines results, **keeps duplicates**

```sql
SELECT name FROM table1  
UNION ALL  
SELECT name FROM table2;
```

---

### ðŸ”¸ 3. **INTERSECT**

* Returns **common rows** from both

```sql
SELECT name FROM table1  
INTERSECT  
SELECT name FROM table2;
```

---

### ðŸ”¸ 4. **EXCEPT / MINUS**

* Returns rows in first query **but not** in second

```sql
SELECT name FROM table1  
EXCEPT  
SELECT name FROM table2;
```

**4. What are the types of views and give an example for each of them?**

### ðŸ”¹ 1. **Simple View**

ðŸ‘‰ Based on one table, no functions or groups

```sql
CREATE VIEW simple_view AS  
SELECT id, name FROM Students;
```

---

### ðŸ”¸ 2. **Complex View**

ðŸ‘‰ Based on multiple tables or includes joins, functions, groups

```sql
CREATE VIEW complex_view AS  
SELECT s.name, m.score  
FROM Students s  
JOIN Marks m ON s.id = m.id;
```

---

### ðŸ”¹ 3. **Materialized View** *(used in some DBs)*

ðŸ‘‰ Stores actual data (not just a virtual query) ðŸ—‚ï¸
ðŸ‘‰ Faster read, but needs refresh

```sql
-- Syntax may vary by database
CREATE MATERIALIZED VIEW mat_view AS  
SELECT * FROM Sales;
```

**5. What are the four ranking functions commonly used in SQL (e.g., 
ROW_NUMBER, RANK, DENSE_RANK, NTILE)?**

### ðŸ”¢ 4 Ranking Functions:

1. **ROW\_NUMBER()** â€“ Unique rank, no duplicates ðŸ†”
2. **RANK()** â€“ Same rank for ties, skips numbers ðŸŽ–ï¸
3. **DENSE\_RANK()** â€“ Same rank for ties, no skip ðŸ§·
4. **NTILE(n)** â€“ Splits rows into n buckets ðŸŽ¯

**6) How to delete DUPLICATE records  from a table using ROWID and 
Correlated subquery?**

---

### âœ… Example:

```sql
DELETE FROM table_name t1  
WHERE ROWID > (
  SELECT MIN(ROWID)  
  FROM table_name t2  
  WHERE t1.col1 = t2.col1  
    AND t1.col2 = t2.col2
);
```